<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1> <%= kindofDay %></h1>

    <!-- list of items in the list -->
    <ul>
        <% for (var item of newItemList) { %>
        <li><%= item %></li>
        <% } %> 
    </ul>

    <form class = "" action="/" method="POST">
        <input type="text" name="newItem">
        <button type="submit" name="button">Add</button>
    </form>
</body>

</html>